*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: #1a1a2e;
}
h1{
    color: #e94560;
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}
form{
    margin-top: 40px;
    width: 400px;
    box-shadow: 0 0 30px #16213e;
    padding: 40px;
    border-radius: 15px;
    background-color: #0f3460;
    color: #e94560;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
input{
    width: 95%;
    height: 25px;
    margin-bottom: 15px;
    margin-top: 10px;
    background:linear-gradient(90deg,#ffffff,#e94560,#0f3460);
    border: 2px solid #16213e;
    border-radius: 10px;
    padding-left: 15px;
    color: #0f3460;
    font-size: 1em;
}
button{
    margin-top: 15px;
    height: 35px;
    background:linear-gradient(90deg,#ffffff,#e94560,#0f3460);
    border-radius: 10px;
    border: 2px solid #16213e;
    width: 100%;
    cursor: pointer;
    color: #0f3460;
    font-size: 1em;
}
button:hover{
    background:linear-gradient(90deg,#0f3460,#e94560,#ffffff);
    color: #ffffff;
}
.tacheNombre, .tacheCelular, .tacheCorreo{
    color: #ff0033;
}
.input-tache{
    background:linear-gradient(90deg,#ffffff,#ff0033,#ff6666);
    border: 2px solid #ff0033;
}
.input-buena{
    background:linear-gradient(90deg,#ffffff,#99ff66,#33cc33);
    border: 2px solid #33cc33;
}
.buenaNombre, .buenaCelular, .buenaCorreo{
    color: #33cc33;
}
.mensajeNombre, .mensajeCelular, .mensajeCorreo{
    font-size: small;
    color: #ff0033;
}
.ocultar{
    display: none;
}
